.background{
    display: flex;
    flex-direction: column;
    background-image: url('../../Images/Background_Sakura_Tree.jpg');
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
    background-attachment: fixed;
    min-height: 100vh;
}


.myGamesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3vh;

}

.button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 0px;
    transition-duration: 1s;
    background-color: rgba(152,163,255, 0.5);
    border: 1px solid rgb(119, 132, 241, 0.2);
    color: rgba(0,0,0,0.2);
    top: 10vh;
    width: 20vw;
    right: 1vw;
    justify-self: center;
    height: 10vh;
    position: fixed;
}

.button:hover{
    font-size: larger;
    box-shadow: inset 0px 0px 2px 2px rgba(119, 132, 241, 1);
    background-color: rgba(152,163,255, 0.7);
    border: 1px solid rgb(119, 132, 241, 0.7);
    color: rgba(0,0,0,1);
    border-radius: 20px;
}

.games{
    margin-top: 10vh;
}