.background{
    display: flex;
    flex-direction: column;
    background-color: rgb(5, 5, 23);
    min-height: 100vh;
    align-content: center;

}


.myGamesContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 3vh;
}

.button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 0px;
    transition-duration: 1s;
    background-color: #00ffc846;
    border: none;
    color: rgba(0,0,0,0.2);
    top: 10vh;
    width: 15vw;
    right: 1vw;
    justify-self: center;
    height: 10vh;
    position: fixed;
}

.button:hover{
    font-size: large    ;
    box-shadow: inset -2px -2px 5px 1px #000000;
    background-color: #00ffc8cb;
    border: none;
    color: rgba(0,0,0,1);
    
}

.games{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10vh;
}

.empty{
    position: absolute;
    top: 40vh;
    right: 35vw;
    color: white;
}