.gamesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0vh 0vh 2vh 0vh;
    padding: 3vh;
    background-position:center;
    background-image: url("../../Images/Background_city.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;;
}


