.genresBar{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10vh;
    min-width: fit-content;
}

.li{
    margin: 0vh 1vh 0vh 1vh;
    background-color: red;
    width:max-content;
    padding: 1vh;
    cursor: pointer;
}

.nav{
    margin-top: 10vh;
    overflow-x:scroll;
    width: 150vh;
    height: fit-content;
    border: 1px solid white; 
    border-radius: 7vh;
    position: relative;
    justify-self: center;
    align-self: center;
}