.list{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.majorContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 2vh;
}

.pages{
    padding: 1vh;
    border: 1px solid black;
    border-radius: 2vh;
    background-color: aqua;
}

.current{
    padding: 1vh;
    border: 1px solid black;
    border-radius: 2vh;
    background-color: rgb(0, 105, 105);
}

.disable{
    pointer-events: none;
}

.able{
    width: 4vh;
    height: 4vh;
    background-color: red;
}