

.sorts{
    margin: 5vh;
    display: flex;
    justify-content: space-around;
    align-self: baseline;
    width: 100%;
    padding: 1vh;
    border-bottom: 1px solid rgb(245, 244, 247);
}



.button{
    transition-duration: 2s;
    background-color:#8c52ff;
    border-radius: 0.5vh;
    padding: 2vh 2vh;
    text-justify: center;
    text-align: center;
    font-weight: bold;
    font-size: 2.5vh;
    border: none;
   
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 3px 2px rgb(255, 255, 255);
    border-radius: 1.5vh;
}


.gamesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0vh 3vh 0vh 3vh;
    padding: 3vh;
}



